

.footer {
    background-color: #52585f;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    color: white;
}  
.footer-container {
    display: flex;
    justify-content: space-between;
    height: auto;
    gap: 40px;

} 
.footer-container .footer-left{
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-left: 20px;
    justify-content: space-between;
}
.footer-container .footer-left .footer-socials{
    display: flex;
    gap: 10px;
    margin-top: 10px;
   
    
}
.footer-container .footer-left .footer-socials img{
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 50%;
    gap: 20px;
    background-color: rgb(23, 73, 221);
}
.footer-container .footer-left .footer-socials img:hover{
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
}

.footer-container .footer-center {
    margin-top: 10px;
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
    text-align: left;
    padding-left: 20px;
    row-gap: 20px;
   
}
.footer-container .footer-center li{
    list-style: none;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 8px;
}
.footer-container .footer-center li:hover{
    color: tomato;
    transition: 0.3s;
}

.footer-container .footer-right{
    margin-top: 10px;
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    padding-right: 20px;
    row-gap: 20px;
}
.footer-container .footer-right .footer-contact-item{
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 10px;
}
.footer-container .footer-right .footer-contact-item img{
    width: 20px;
    height: 20px;
}
.footer hr{
    margin-top: 20px;
    border: 0.5px solid #898383;
}
.footer .copy_right{
    margin-top: 20px;
    font-size: 14px;
    color: #cac3c3;
}
